*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: #ccc;
}
#main{
    background-color: #E26EE5;
    padding: 10%;
    width: 70%;
    margin: auto auto auto;
    box-shadow: 10px 20px 10px rgba(0,0,0,.1);
    border: #49108B solid  2px;
    text-align: center;
    border-radius: 10px;
    max-width: 480px;
}
#main h1 {
    text-align: center;
    background: #7E30E1;
    color: #F3F8FF;
    padding: 25px;
    width: 60%;
    margin: auto;
    border: #E26EE5 4px solid;
    border-radius: 10px;
}
#control {
    width: 50%;
    margin: 5vh auto 0 auto;
    padding: 20px;
    background-color:#49108B;
    border-radius: 20px;
    font-size: 25px;
    border: #F3F8FF solid 4px;
    box-shadow: 10px 20px 10px rgba(0,0,0,.1);
}
#control label {
    font-size: 20px;
    color: #F3F8FF;
}
#control input {
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin: 2vh auto 0 auto;
    width: 90%;
    background-color: #F3F8FF;
    color: #49108B;
}
#control button {
    border: none;
    margin: 4vh auto 0 auto;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color: #F3F8FF;
    cursor: pointer;
    transition: 20ms;
}
#control button:hover {
    background-color: #b6babe;
}
#control button:active {
    background-color: #82868a;
}
#message {
    font-size: 15px;
    color: #d43520;
}